:root{
  --bg-color: #51b4e8;
  --bg-color-light: #d5f3ff;
  --bg--card-color: #d5f3ff;
  --bg--card-color-lighter:#e5f2ff;
}


body {
background: rgb(213,243,255);
background: radial-gradient(circle, rgba(213,243,255,1) 5%, rgba(81,180,232,1) 53%);
background-repeat: no-repeat;
height: 100vh;
}

.section-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-card {
  background: rgb(213,243,255);
  background: linear-gradient(180deg, rgba(213,243,255,1) 0%, rgba(229,242,255,1) 100%);
  height: 250px;
  width: 300px;
  border-radius: 20px 8rem 20px 20px;
  color: var(--bg-color);
  position: relative;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
}


.info-temp {
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
}

.info-temp .temp {
  font-size: 5.6rem;
  font-weight: lighter;
}

.plus-info {
  margin:2% 3%;
}


.weather {
  font-weight: 400;
  font-size: 1.3rem;
}

.container-name {
  width: 100%;
  margin-top: 1rem;
  padding: 0 .6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.container-name .name {
  font-size: 1.7rem;
  font-weight: 600;
}

.imgs {
  width: 50%;
}


.info-temp img {
  width: 45%;
  position: absolute;
  right: -8px;
  top: -30px;
}

.btn-change {
  margin: 2rem 0;
  border: none;
  padding: .7rem;
  font-size: 1.2rem;
  border-radius: 8rem;
  cursor: pointer;
  background-color: var(--bg-color);
  color: white;
  transition: 300ms ease;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
}

.btn-change:hover {
  transform: scale(1.1);
}

.container-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #51b4e8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  color: white;
  font-size: 3rem;
}